body {
  padding-top: 30vh;
  text-align: center;
  color: (0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2em;
  top: 15%;
  background: linear-gradient(to right, rgb(176, 148, 255), rgb(93, 198, 191));
}

h3 {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
  font-family: "Poppins", sans-serif;
}
p {
  letter-spacing: 0.8em;
}
h1:hover {
  cursor: default;
  animation: normal;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-size: 50px;
}
